<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns		= "http://www.w3.org/ns/widgets"
	xmlns:gap	= "http://phonegap.com/ns/1.0"
	id		= "com.jlaurendi.droptime"
	version 	= "1.0.0">

	<name>DropTime</name>

	<description>
		A mobile app for helping patients take their eyedrops on time.
	</description>

	<author href="http://www.josephlaurendi.com"
		email="jlaurendi@gmail.com">
		Joseph Laurendi
	</author>

	<icon src="icon.png" gap:role="default" />

	<feature name="http://api.phonegap.com/1.0/geolocation"/>
	<feature name="http://api.phonegap.com/1.0/network"/>

	<preference name="orientation" value="portrait" />
</widget>
